<div class="container-fluid">
  <div class="row">
    <div class="col-md-10">
      <!--Sidebar content-->

      Search: <input ng-model="query">

    </div>
  </div>

	<table id="myTableData"  border="1" cellpadding="2">
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td><b>Resource Name</b></td>
        <td><b>Resource Cost</b></td>
        <td><b>Resource Type</b></td>		
    </tr>
<!--	
	DO not know why ModelDemoCtrl.resources does not work :( 
    <tr ng-repeat="resource in ModalDemoCtrl.resources">	
-->
    <tr ng-repeat="resource in resources">	
		<td>
		<button type="button" class="btn btn-default" ng-click="deleteResource(resource)">Delete</button>
		</td>

		<td>
		<button type="button" class="btn btn-default" ng-click="editResource(resource)">Edit</button>
		</td>		
		
		<td><b>{{resource.name}}</b></td>
		<td><b>{{resource.cost}} </b></td>
		<td><b>{{resource.resourceType}} </b></td>

    </tr>
	</table>  
  
  <div class="row">
    <div class="col-md-10">
      <!--Body content-->

	      <button type="button" class="btn btn-default" ng-click="open1($scope.uibModal)">Add Resources</button>
    </div>
  </div>
  
</div>
